@charset "UTF-8";
/*Стили для страницы application.html */
/*Для логотипа */
.from__link {
  color: #000;
}

/*Для формы*/
.input__from {
  border: 2px solid #000;
  border-radius: 10px;
}

.header {
  margin-bottom: 25px;
}

.page {
  background-color: #FF9C70;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer_app {
  margin-top: 100px;
}

.form1__title {
  margin-bottom: 20px;
}

button {
  background-color: #FF9C70;
  border: 2px solid #FF9C70;
  padding: 20px;
  color: #fff;
  border-radius: 50px;
}

.form1__title {
  text-align: center;
  font-size: 16px;
}

.form__title {
  font-size: 24px;
}
