@charset "UTF-8";
/**/
/*Импорт обнуляющих стилей*/
/*-------Общие стили-----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
}

/* Указываем box sizing */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Выставляем основные настройки по-умолчанию для body */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  /* text-rendering: optimizeSpeed;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus,
:active {
  outline: none;
}

del {
  text-decoration: line-through;
}

mark {
  background-color: #ff9;
  color: red;
  font-style: italic;
  font-weight: bold;
}

/*--------Стили для списков-------------*/
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
li {
  list-style: none;
}

/* Убираем внутренние отступы */
ul[class],
li[class] {
  padding: 0;
}

/*--------Стили для заголовков------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------Стили для картинок------------*/
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  vertical-align: top;
}

/*-------------Стили для ссылок------------*/
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/*----------------Стили для кнопок-----------------*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*-------Стили для инпутов--------*/
input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/*------------?????????????-------*/
article > * + * {
  margin-top: 1em;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*стили для main,чтобы прижать footer к низу*/
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*Подключение для страницы*/
/**/
/*Стили для body*/
body {
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/*Модификаторы для повторяющихся стилей*/
.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn a,
span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
}

/*Заголовки повторяющиеся*/
.title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #000;
  text-align: center;
}

/*Изменения цвета при наведении*/
.btn:hover {
  background: orange;
  -webkit-transition: all 0.4s ease-in-out 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
}

/*Основная обертка для сайта*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
  max-width: 1920px;
  margin: 0 auto;
}

/*Шапка сайта*/
.header {
  background-color: #fff;
  margin-bottom: 100px;
}

.page__fullscreen {
  background: url("../img/fulbg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.full__screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body__btn {
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: orange;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__btn a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
}

/*Тело всей шапки*/
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.border {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 50px;
}

/*Меню нафвигации в шапке*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__menu {
  margin: 0 20px;
  color: #000;
  font-size: 16px;
}

/*При наведении на элементы меню*/
.item__menu:hover {
  text-decoration: underline;
  -webkit-transition: all 0.4s linear 0.2s;
  transition: all 0.4s linear 0.2s;
}

/*Активная вкладка на сайте*/
.active {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
}

/*Начальная страница*/
/*Тело main*/
.body__title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #fff;
  max-width: 800px;
  text-align: center;
}

.body__text {
  line-height: 1.5;
  margin: 100px 0;
  color: #fff;
}

/*О компании*/
.about__company {
  background: url("../img/34324324.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px;
  margin-bottom: 100px;
  width: 100vh;
}

.about__body {
  background-color: rgba(128, 128, 128, 0.508);
  padding: 15px;
  border-radius: 10px;
}

.about__title {
  color: #fff;
}

.about__list-item {
  color: #fff;
}

/*Примущества*/
.advantages {
  margin-bottom: 100px;
  background: url("../") 0 0 no-repeat;
}

.about__title {
  text-align: center;
}

strong {
  font-weight: 900;
}

.about__list {
  text-align: center;
}

.about__list-item {
  margin: 40px;
}

/*Карточки с примуществами*/
.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__top,
.advantages__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.advantages__title {
  text-align: center;
}

.info__title {
  margin-bottom: 25px;
}

.advantages__title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #000;
  text-align: center;
}

/**/
.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #000;
  margin: 20px;
  padding: 20px;
}

.block__info:hover {
  background-color: gray;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.info__title {
  text-align: center;
}

.ifno__text {
  text-align: center;
}

/*Форма заявки на услугу*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

/**/
form {
  max-width: 600px;
  border: 2px solid #000;
  padding: 40px;
  margin: 50px;
  border-radius: 10px;
}

input {
  font-size: 30px;
  padding: 10px;
  margin: 25px 40px;
}

input:focus {
  outline: invert;
}

.form1__title {
  text-align: center;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  font-size: 20px;
}

/**/
/**/
footer {
  background-color: gray;
  padding: 100px;
}

/*burger menu*/
/*For pc*/
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1600px;
  }
  .burger {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
  .form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    background-color: orange;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 967px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    display: none;
  }
  .item__menu {
    font-size: 26px;
  }
}

@media screen and (max-width: 976px) {
  .container {
    max-width: 767px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 467px;
  }
  .body__title {
    font-size: 46px;
  }
  .call__back {
    font-size: 20px;
  }
  .header__title {
    margin-bottom: 20px;
  }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form {
    max-width: 400px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    font-size: 16px;
    padding: 0px;
  }
  .form1__title {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .form__title {
    font-size: 36px;
    font-weight: 600;
  }
  .advantages__top,
  .advantages__bottom {
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
  .block__info {
    margin: 30px 10px;
  }
  .form2__title {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 467px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
  .advantages__title {
    font-size: 36px;
    font-weight: 600;
  }
  .block__info:hover {
    background-color: #fff;
    color: #000;
  }
  .advantages__top:first-child {
    padding: 20px;
  }
}

.burger {
  margin: 20px;
}

.burger__item {
  width: 100px;
  height: 20px;
  background-color: #000;
}

/**/
/**/
/**/
/**/
