@charset "UTF-8";
/**/
/*Импорт обнуляющих стилей*/
/*-------Общие стили-----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
}

/* Указываем box sizing */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Выставляем основные настройки по-умолчанию для body */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  /* text-rendering: optimizeSpeed;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus,
:active {
  outline: none;
}

del {
  text-decoration: line-through;
}

mark {
  background-color: #ff9;
  color: red;
  font-style: italic;
  font-weight: bold;
}

/*--------Стили для списков-------------*/
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
li {
  list-style: none;
}

/* Убираем внутренние отступы */
ul[class],
li[class] {
  padding: 0;
}

/*--------Стили для заголовков------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------Стили для картинок------------*/
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  vertical-align: top;
}

/*-------------Стили для ссылок------------*/
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/*----------------Стили для кнопок-----------------*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*-------Стили для инпутов--------*/
input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/*------------?????????????-------*/
article > * + * {
  margin-top: 1em;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*стили для main,чтобы прижать footer к низу*/
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*Подключение для страницы*/
/**/
/*Стили для body*/
body {
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/*Модификаторы для повторяющихся стилей*/
.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn a,
span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
}

/*Заголовки повторяющиеся*/
.title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #000;
  text-align: center;
}

/*Изменения цвета при наведении*/
.btn:hover {
  background: orange;
  -webkit-transition: all 0.4s ease-in-out 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
}

/*Основная обертка для сайта*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
  max-width: 1920px;
  margin: 0 auto;
}

/*Шапка сайта*/
.header {
  background-color: #fff;
  margin-bottom: 20px;
}

/*Тело всей шапки*/
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__title {
  cursor: pointer;
}

/*Меню нафвигации в шапке*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__menu {
  margin: 0 20px;
  color: #000;
  font-size: 20px;
}

/*Мобильное меню*/
.burger img {
  cursor: pointer;
}

/*При наведении на элементы меню*/
.item__menu:hover {
  text-decoration: underline;
  -webkit-transition: all 0.4s linear 0.2s;
  transition: all 0.4s linear 0.2s;
}

/*Активная вкладка на сайте*/
.active {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
}

/*Главная страница*/
.page__fullscreen {
  background: url("../img/fulbg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

/*Главный контейнер*/
.full__screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Кнопка на главной странице*/
.body__btn {
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: orange;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__btn a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
}

/*Тело main*/
.body__title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #fff;
  max-width: 800px;
  text-align: center;
}

.body__btn a {
  color: #fff;
}

/*О компании*/
.about__company {
  background: url("../img/34324324.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px;
  width: 100vh;
  margin: 0 auto;
  height: auto;
  margin-bottom: 50px;
}

.about__body {
  background-color: rgba(128, 128, 128, 0.508);
  padding: 15px;
  border-radius: 10px;
}

.about__title {
  color: #fff;
}

.about__list-item {
  color: #fff;
}

.about__title {
  text-align: center;
}

strong {
  font-weight: 900;
}

/*Стили для списка*/
.about__list {
  text-align: center;
}

.about__list-item {
  margin: 40px;
}

/*Карточки с примуществами*/
.advantages {
  margin-bottom: 50px;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__top,
.advantages__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.advantages__title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #000;
  text-align: center;
}

/*Карточки примуществ*/
.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.block__info:hover {
  background-color: gray;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.info__title {
  text-align: center;
  margin-bottom: 25px;
}

.ifno__text {
  text-align: center;
}

/*Форма заявок*/
.form__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.callback__title {
  font-size: 64px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.from__text,
.from__phone {
  border: 2px solid #000;
  padding: 20px;
  font-size: 26px;
  margin: 0 40px;
  border-radius: 10px;
}

.form__btn {
  padding: 20px;
  font-size: 20px;
  background-color: #eecfba79;
  border-radius: 10px;
}

.form__btn:hover {
  background-color: #EECFBA;
}

/*Как мы работаем*/
.how__we--work {
  background: url("../img/work.png") 0 0 no-repeat;
  background-size: cover;
  min-height: 500px;
  background-position: center;
  margin-bottom: 100px;
  padding: 50px;
}

.work__title {
  color: #fff;
}

.work__item {
  text-align: center;
  color: #fff;
  margin-bottom: 150px;
  font-size: 34px;
}

.work__bottom,
.work__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.work__item {
  position: relative;
  top: 0;
  left: 0;
}

.work__item:nth-child(1)::before {
  content: "1.";
}

.work__item:nth-child(2)::before {
  content: "2.";
}

.work__item:nth-child(3)::before {
  content: "3.";
}

.work__item:nth-child(4)::before {
  content: "4.";
}

.work__item:nth-child(2)::after {
  content: url("../img/call.png");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__item:nth-child(3)::after {
  content: url("../img/dogovor.png");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__item:nth-child(4):after {
  content: url("../img/icon.png");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__item:nth-child(1):after {
  content: url("../img/form.svg");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__item:nth-child(2)::after {
  content: url("../img/call.png");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__item:nth-child(3)::after {
  content: url("../img/dogovor.png");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__item:nth-child(4):after {
  content: url("../img/icon.png");
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: pointer;
  padding: 20px;
}

.work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__item:hover {
  text-decoration: underline;
}

/*Подвал*/
footer {
  background-color: gray;
  padding: 100px;
}

/*Карта и контакты*/
.map__and-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vh;
  height: auto;
  margin-bottom: 50px;
}

/*Карта*/
.map__yandex {
  width: 960px;
  height: 450px;
}

.body__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/*Контакты*/
.contact {
  width: 960px;
  padding-left: 10px;
}

.contacnt__body {
  width: 960px;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.contact__title {
  font-size: 64px;
  margin-bottom: 25px;
  color: #000;
  text-align: start;
}

.contact__item {
  margin: 20px 0;
  color: #000;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.input__from:required {
  content: '*';
}

/*burger menu*/
.burger__img img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

/*For pc*/
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
  .form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    background-color: orange;
  }
  .menu {
    display: none;
  }
  .burger img {
    display: block;
  }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 967px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    display: none;
  }
  .item__menu {
    font-size: 26px;
  }
  .header__body {
    margin: 0 20px;
    padding: 10px;
  }
  /*Карта*/
  .body__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact__list {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
  }
  .contact__item {
    margin: 0 10px;
  }
}

@media screen and (max-width: 976px) {
  .container {
    max-width: 767px;
  }
  .form2__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 467px;
  }
  .body__title {
    font-size: 26px;
    max-width: 400px;
  }
  .call__back {
    font-size: 20px;
  }
  .header__title {
    margin-bottom: 20px;
  }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form {
    max-width: 400px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__top,
  .advantages__bottom {
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
  .form2__title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__item:nth-child(1):after {
    content: url("../img/form.svg");
    position: absolute;
    top: 100%;
    left: 32%;
    cursor: pointer;
    padding: 20px;
  }
  .work__item:nth-child(2)::after {
    content: url("../img/call.png");
    position: absolute;
    top: 100%;
    left: 32%;
    cursor: pointer;
    padding: 20px;
  }
  .work__item:nth-child(3)::after {
    content: url("../img/dogovor.png");
    position: absolute;
    top: 100%;
    left: 32%;
    cursor: pointer;
    padding: 20px;
  }
  .work__item:nth-child(4):after {
    content: url("../img/icon.png");
    position: absolute;
    top: 100%;
    left: 32%;
    cursor: pointer;
    padding: 20px;
  }
}

@media screen and (max-width: 467px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 20px;
  }
  .about__list {
    margin-right: 20px;
    padding: 15px;
  }
  .advantages__title {
    font-size: 36px;
    font-weight: 600;
  }
  .block__info:hover {
    background-color: #fff;
    color: #000;
  }
  form {
    padding: 20px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
  }
  .advantages__top:first-child {
    padding: 20px;
  }
  .about__company {
    max-width: 350px;
    padding: 10px;
  }
  .about__body {
    max-width: 300px;
  }
  form {
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .form2__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form1__title {
    margin-bottom: 20px;
  }
  .work__item {
    text-align: center;
  }
  .work__title {
    font-size: 40px;
    font-weight: bold;
  }
  .work__item:nth-child(1):after {
    content: url("../img/form.svg");
    position: absolute;
    top: 100%;
    left: 28%;
    cursor: pointer;
    padding: 20px;
  }
  .work__item:nth-child(2)::after {
    content: url("../img/call.png");
    position: absolute;
    top: 100%;
    left: 25%;
    cursor: pointer;
    padding: 20px;
  }
  .work__item:nth-child(3)::after {
    content: url("../img/dogovor.png");
    position: absolute;
    top: 100%;
    left: 28%;
    cursor: pointer;
    padding: 20px;
  }
  .work__item:nth-child(4):after {
    content: url("../img/icon.png");
    position: absolute;
    top: 100%;
    left: 28%;
    cursor: pointer;
    padding: 20px;
  }
}

@media screen and (max-width: 467px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
  .form2__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 300px;
  }
}

/**/
/**/
/**/
/**/
