/*Стили для страницы application.html */
/*Для логотипа */

.from {
    display: flex;
    flex-direction: column;
    // .from__application

    &__application {
        margin-bottom: 50px;
    }
}

.application {

    // .application__title

    &__title {
        font-size: 64px;
        text-align: center;
        color: #000;
        margin-bottom: 20px;
    }



    // .application__form

    &__form {
        display: flex;
        flex-direction: column;
        border: 2px solid orange;
        padding: 40px;
        border-radius: 20px;
        margin-bottom: 50px;
        min-width: 800px;

    }

    // .application__btn

    &__btn {
        padding: 20px;
        font-size: 20px;
        background-color: #eecfba79;
        border-radius: 10px;
        align-self: start;
        margin-bottom: 25px;

        &:hover {
            background-color: #eecfba;
        }
    }


}

label {
    font-size: 30px;
}

.text__info-title {
    font-size: 23px;
    margin-bottom: 20px;
}

textarea {
    padding: 10px;
    align-self: start;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 40px;
    font-size: 24px;
    border: 2px solid #000;
}

select {
    align-self: flex-start;
    padding: 20px;
    margin-left: 0;
    font-size: 30px;
}

.input {

    // .input__form

    &__form {
        border: 2px solid #000;
        padding: 20px;
        font-size: 26px;
        margin: 40px 0px;

        border-radius: 10px;
        align-self: start;
    }
}

.form__text {
    display: flex;
}

.checkbox__text {
    font-size: 26px;
}

.checkbox {
    padding: 20px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.list__car {
    padding-left: 0;
}

/*Контакты окно*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.711);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease 0s;


    // .popup__body

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: 30px 10px;
    }

    // .popup__content

    &__content {
        max-width: 800px;
        min-width: 300px;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
        padding: 30px;
        position: relative;
        transition: all 0.8s ease 0s;



    }

    // .popup__close

    &__close {
        position: absolute;
        right: 25px;
        top: 20px;
        font-size: 24px;
        color: #000;
    }

    // .popup__title

    &__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    // .popup__text

    &__text {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .popup__area {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup {


    // .popup__button

    &__button {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    .popup__button a {
        border: 2px solid #000;
        color: #000;
        padding: 30px;
        margin: 10px;

        &:hover {
            background-color: #eecfba;
        }
    }

}

.menu__close {
    display: none;
}

@media screen and (max-width:767px) {
    .container {
        max-width: 479px;
        margin: 0 auto;
    }

    .from__application {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Меню, которое будет появляться */
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.5s;

    }

    .menu.active {
        transform: translateX(0);


    }

    .menu {
        position: relative;
        top: 0;
        left: 0
    }

    .menu__close {
        position: absolute;
        top: 10px;
        font-size: 24px;
        color: #000;
        left: 30px;
    }

    .item__menu {
        margin: 40px 40px;
    }
}

@media screen and (max-width:479px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }

    .popup__button {
        display: flex;
        flex-direction: column;
    }

    .application__form {
        margin: 0 auto;
        padding: 0;

    }

    // .application__form

    &__form {
        display: flex;
        flex-direction: column;
        border: 2px solid orange;
        padding: 40px;
        border-radius: 20px;
        margin-bottom: 50px;
        min-width: 300px;
    }

    label {
        padding: 10px;
        text-align: start;
        font-size: 20px;
    }

    .application__form {}

    .input__form {
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;

    }

    textarea {
        border: 1px solid #000;
        margin: 10px 5px;
    }

    .list__car {
        margin-left: 10px;
    }

    .application__btn {
        margin-left: 10px;
    }

    .form__text {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .checkbox__text {
        font-size: 20px;
        max-width: 300px;
        margin-left: 10px;
    }
}