/**/
/*Импорт обнуляющих стилей*/
@import '_reset.scss';

/**/
/**/
/**/
/*Подключение для страницы*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap');
/**/
// /*Цвет для основной страницы*/
$background-color:#fff;
// /*Цвет для основного цвета*/
// /*Основной шрифт для сайта*/
$main_font-family: 'Montserrat',
sans-serif;
// /*Вторичный шрифт для сайта*/
$second_font-family:'ZCOOL KuaiLe',
cursive;
// /*Основной размер текста на сайте*/
$main_font-size: 24px;

/*Стили для body*/
body {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: $main_font-size;
    background-color: $background-color;
    font-family: $main_font-family;
    scroll-behavior: smooth;
}

/*Модификаторы для повторяющихся стилей*/
.btn {
    align-items: center;
    text-align: center;
    align-self: center;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.btn a,
span {
    align-items: center;
    text-align: center;
    color: #000;
}

/*Заголовки повторяющиеся*/
.title {
    font-size: 64px;
    margin-bottom: 25px;
    color: #000;
    text-align: center;
}

.call__back {
    align-items: center;
    text-align: center;
    height: 60px;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: orange;
}

.call__back a {
    align-items: center;
    text-align: center;
    color: #000;
}

.call__back {
    color: #fff;
}

/*Изменения цвета при наведении*/
.btn:hover {
    background: orange;
    transition: all 0.4s ease-in-out 0.1s;
}

/*Основная обертка для сайта*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
    max-width: 1920px;
    margin: 0 auto;
}

/*Шапка сайта*/
.header {
    background-color: #fff;
    margin-bottom: 100px;

}

.full__screen {
    background: url('../img/fulbg.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    padding: 20px 0;
    max-width: 100%;

}

.full__screen-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

/*Тело всей шапки*/
.header__body {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.border {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-bottom: 50px;
}

/*Меню нафвигации в шапке*/
.menu {
    display: flex;
}

.item__menu {
    margin: 0 20px;
    color: #000;
    font-size: 16px;
}

/*При наведении на элементы меню*/
.item__menu:hover {
    text-decoration: underline;
    transition: all 0.4s linear 0.2s;
}

/*Активная вкладка на сайте*/
.active {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

/*Кнопка в шарке*/
// .menu__from-btn {
//     height: 60px;
//     border: 2px solid orange;
//     padding: 10px;
//     border-radius: 10px;
//     color: #000;
// }

// /**/
// .menu__from-btn:hover {
//     background: orange;
//     transition: all 0.4s ease-in-out 0.1s;
// }

/*Начальная страница*/
.full__screen {

    width: 100%;
    height: auto;
    padding: 200px;
    margin-bottom: 100px;
}

/*Тело main*/
.body__title {
    font-size: 64px;
    margin-bottom: 25px;
    color: #fff;
    max-width: 800px;
}

.body__text {
    line-height: 1.5;
    margin: 100px 0;
    color: #fff;
}

.body__btn {
    max-width: 400px;
}

/*заявка*/
// .body__btn {
//     height: 60px;
//     border: 2px solid orange;
//     padding: 10px;
//     border-radius: 10px;
// }

// .body__btn a {
//     color: #000;
// }

// .body__btn:hover {
//     background: orange;
//     transition: all 0.4s ease-in-out 0.1s;
// }

/*Примущества*/
.advantages {
    margin-bottom: 100px;
    background: url('../') 0 0 no-repeat;
}

.about__title {

    text-align: center;
}

strong {
    font-weight: 900;
}

.about__list-item {
    margin: 40px;
}

/*Карточки с примуществами*/
.advantages__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.advantages__top,
.advantages__bottom {
    display: flex;
    margin: 50px;
}

.advantages__title {
    text-align: center;

}

.info__title {
    margin-bottom: 25px;
}

.advantages__title {
    font-size: 64px;
    margin-bottom: 25px;
    color: #000;
    text-align: center;
}

/**/
.block__info {
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid #000;
    margin: 0 40px;
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    flex: 0 1 33.3333%;
    display: flex;
    flex-direction: column;

}

.block__info:hover {
    background-color: gray;
    color: #fff;
    transition: all 0.2s ease-in-out 0.1s;
}

/*Форма заявки на услугу*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}



/**/
form {
    max-width: 600px;
    border: 2px solid #000;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

input {
    font-size: 30px;
    padding: 10px;
    margin: 25px 40px;


}

input:focus {
    outline: invert;
}

.form1__title {
    text-align: center;
    font-size: 36px;
    align-items: center;
}

button {
    font-size: 20px;
}

/**/




/**/
footer {
    background-color: gray;
    padding: 100px;
}

/*burger menu*/
/*For pc*/
@media screen and(max-width:1920px) {
    .container {
        max-width: 1600px;
    }

    .burger {
        display: none;
    }
}

@media screen and(max-width:1600px) {
    .container {
        max-width: 1200px;
    }


    .form__body {
        display: flex;
        flex-direction: column;
    }

    .btn {
        background-color: orange;
    }

    .full__screen-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
    }




}

@media screen and(max-width:1200px) {
    .container {
        max-width: 967px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .item__menu {
        font-size: 26px;
    }

}

@media screen and(max-width:976px) {
    .container {
        max-width: 767px;
    }
}

@media screen and(max-width:767px) {
    .container {
        max-width: 467px;
    }

    .body__title {
        font-size: 46px;
    }

    .call__back {
        font-size: 20px;
    }

    .header__title {
        margin-bottom: 20px;
    }

    .header__body {
        display: flex;
        flex-direction: column;
    }

    form {
        max-width: 400px;
        border: 2px solid #000;
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    input {
        font-size: 16px;
        padding: 0px;

    }

    .form1__title {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .form__title {
        font-size: 36px;
        font-weight: 600;
    }

    .advantages__top,
    .advantages__bottom {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 20px;
    }

    .block__info {
        margin: 30px 10px;
    }

    .form2__title {
        margin: 20px 20px;
    }
}


@media screen and(max-width:467px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }





    .advantages__title {
        font-size: 36px;
        font-weight: 600;
    }

    .block__info:hover {
        background-color: #fff;
        color: #000;
    }



    .advantages__top:first-child {
        padding: 20px;
    }
}

.burger {
    margin: 20px;
}

.burger__item {
    width: 100px;
    height: 20px;
    background-color: #000;
}

/**/
/**/
/**/
/**/