/**/
/*Импорт обнуляющих стилей*/
@import '_reset.scss';

/**/
/**/
/**/
/*Подключение для страницы*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap');
/**/
// /*Цвет для основной страницы*/
$background-color:#fff;
// /*Цвет для основного цвета*/
// /*Основной шрифт для сайта*/
$main_font-family: 'Montserrat',
sans-serif;
// /*Вторичный шрифт для сайта*/
$second_font-family:'ZCOOL KuaiLe',
cursive;
// /*Основной размер текста на сайте*/
$main_font-size: 24px;

/*Стили для body*/
body {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: $main_font-size;
    background-color: $background-color;
    font-family: $main_font-family;
    scroll-behavior: smooth;
}

/*Модификаторы для повторяющихся стилей*/
.btn {
    align-items: center;
    text-align: center;
    height: 60px;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.btn a,
span {
    align-items: center;
    text-align: center;
    color: #000;
}

.call__back {
    align-items: center;
    text-align: center;
    height: 60px;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: orange;
}

.call__back a {
    align-items: center;
    text-align: center;
    color: #000;
}

.call__back {
    color: #fff;
}

/*Изменения цвета при наведении*/
.btn:hover {
    background: orange;
    transition: all 0.4s ease-in-out 0.1s;
}

/*Основная обертка для сайта*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
    max-width: 1920px;
    margin: 0 auto;
}

/*Шапка сайта*/
.header {
    background-color: #fff;
    margin-bottom: 100px;

}

.full__screen {
    background: url('../img/fulbg.jpg') 0 0/100% 100% no-repeat;
    max-width: 100%;
    height: 900px;
}

/*Тело всей шапки*/
.header__body {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.border {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-bottom: 50px;
}

/*Меню нафвигации в шапке*/
.menu {
    display: flex;
}

.item__menu {
    margin: 0 20px;
    color: #000;
}

/*При наведении на элементы меню*/
.item__menu:hover {
    text-decoration: underline;
    transition: all 0.4s linear 0.2s;
}

/*Активная вкладка на сайте*/
.active {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

/*Кнопка в шарке*/
// .menu__from-btn {
//     height: 60px;
//     border: 2px solid orange;
//     padding: 10px;
//     border-radius: 10px;
//     color: #000;
// }

// /**/
// .menu__from-btn:hover {
//     background: orange;
//     transition: all 0.4s ease-in-out 0.1s;
// }

/*Начальная страница*/
.full__screen {

    width: 100%;
    height: auto;
    padding: 200px;
    margin-bottom: 100px;
}

/*Тело main*/
.body__title {
    font-size: 64px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}

.body__text {
    line-height: 1.5;
    margin: 100px 0;
    color: #fff;
}

.body__btn {
    max-width: 400px;
}

/*заявка*/
// .body__btn {
//     height: 60px;
//     border: 2px solid orange;
//     padding: 10px;
//     border-radius: 10px;
// }

// .body__btn a {
//     color: #000;
// }

// .body__btn:hover {
//     background: orange;
//     transition: all 0.4s ease-in-out 0.1s;
// }

/**/
.advantages {
    margin-bottom: 100px;
    background: url('../') 0 0 no-repeat;
}

.about__title {

    text-align: center;
}

strong {
    font-weight: 900;
}

.about__list-item {
    margin: 40px;
}

/**/
.advantages__top,
.advantages__bottom {
    display: flex;
    margin: 50px;
}

.advantages__title {
    text-align: center;

}

.info__title {
    margin-bottom: 25px;
}

/**/
.block__info {
    text-align: center;
    align-items: center;
    border: 2px solid #000;
    margin: 0 40px;
    padding: 40px;
    transition: all 0.4s ease-in-out 0.1s;
}

.block__info:hover {
    background-color: gray;
}

/*Форма заявки на услугу*/
.form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.form__body {
    display: flex;

}

/**/
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 2px solid #000;
    padding: 40px;
    margin: 50px;
}

input {
    font-size: 30px;
    padding: 10px;
    margin: 0 40px;

}

/**/
.how__we-works {
    background: url('../img/how__work.jpg') center no-repeat;
    padding: 200px;
}

.wr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.form__btn {}

/**/
footer {
    background-color: gray;
    padding: 100px;
}

/**/
/**/
/**/
/**/
/**/